<p class="dashboard-news-title">
    {{country}}</p>
<app-filters></app-filters>
<button class="btn btn-link" (click)="goToBack()">Countries</button>

<div class="container">
    <div class="row">
        <div class="col">
            <img class="dashboard-news-img-principal" src="https://media.metrolatam.com/2019/04/06/popocatepetl-08129614cc4a825d24aa68e47d59265d-1200x800.jpg" alt=" ">
        </div>
        <div class="col">
            <h3>Autor</h3>
            <h2>Titulo</h2>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quod aliquam quae voluptatibus, eum amet, nihil facere reprehenderit ullam expedita magnam itaque mollitia eveniet dolore dolorem ea odio rerum culpa!</h5>
            <div>
                <p>date | category</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col">
            <img class="dashboard-news-img" src="https://media.metrolatam.com/2019/04/06/popocatepetl-08129614cc4a825d24aa68e47d59265d-1200x800.jpg" alt=" ">
        </div>
        <div class="col contentView">
            <h3>Autor</h3>
            <h2>Titulo</h2>
            <h5 class="dashboard-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quod aliquam quae voluptatibus, eum amet, nihil facere reprehenderit ullam expedita magnam itaque mollitia eveniet dolore dolorem ea odio rerum culpa!</h5>
            <div>
                <p>date | category</p>
            </div>
        </div>
        <div class="col">
            <img class="dashboard-news-img" src="https://media.metrolatam.com/2019/04/06/popocatepetl-08129614cc4a825d24aa68e47d59265d-1200x800.jpg" alt=" ">
        </div>
        <div class="col">
            <h3>Autor</h3>
            <h2>Titulo</h2>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quod aliquam quae voluptatibus, eum amet, nihil facere reprehenderit ullam expedita magnam itaque mollitia eveniet dolore dolorem ea odio rerum culpa!</h5>
            <div>
                <p>date | category</p>
            </div>
        </div>
    </div>
</div>