<ul class="nav container-filters">
    <li class="nav-item" *ngFor="let item of _fiters.menu">
        <div class="content-filter-icon">
            <img class="filters-icon" src="{{item.icon}}" alt="">
            <a class="nav-link active" href="#" (click)="byCategory(item.category)">{{item.title}}</a>
        </div>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li> -->
</ul>