<p class="dashboard-news-title">News</p>

<div *ngIf="!notData" class="container">
    <div class="row card-divider" (click)="goToNewUrl(newPrincipal.url)">
        <div class="col ">
            <img class="dashboard-news-img-principal " src="{{newPrincipal.urlToImage}} " alt=" ">
        </div>
        <div class="col ">
            <h3 class="dashboard-name ">{{newPrincipal.source.name}}</h3>
            <h2 class="dashboard-title ">{{newPrincipal.title}}</h2>
            <h5 class="dashboard-desc ">{{newPrincipal.description}}</h5>
            <h5 class="dashboard-autor ">{{newPrincipal.author ? newPrincipal.author :'Anonimo'}}</h5>
            <h5 class="dashboard-date ">{{ newPrincipal.publishedAt | date }} </h5>
        </div>
    </div>
    <br>

    <div class="row ">
        <div class="col-6 " *ngFor="let item of newArr ">
            <div class="row card-divider " (click)="goToNewUrl(item.url) ">
                <div class=" col ">
                    <img class="dashboard-news-img " src="{{item.urlToImage}} " alt=" ">
                </div>
                <div class="col contentView ">
                    <h3 class="dashboard-name ">{{item.source.name}}</h3>
                    <h2 class="dashboard-title ">{{item.title}}</h2>
                    <h5 class="dashboard-autor ">{{item.author ? item.author :'Anonimo'}}</h5>
                    <h5 class="dashboard-date ">{{ item.publishedAt | date }} </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dashboard-loading " *ngIf="notData && !loading ">
    Not Data
</div>

<div class="dashboard-loading " *ngIf="loading ">
    Loading...
</div>